.Sidebar {
    height: calc(100vh - var(--navbar-hight));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed) !important;
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.langSwitcher {
    margin-left: 20px;
}
