.Navbar {
  width: 100%;
  height: var(--navbar-hight);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
}

.mainLinks {
  margin-right: 15px;
}